[submodule "libchess"]
	path = app/include/libchess
	url = https://github.com/folkertvanheusden/libchess.git
[submodule "app/src/fathom"]
	path = app/src/fathom
	url = https://github.com/jdart1/Fathom
[submodule "app/book/chess-openings"]
	path = app/book/chess-openings
	url = https://github.com/lichess-org/chess-openings.git
