cryptography>=2.1.4
pyparsing>=2.0.3,<2.4.0
idf-component-manager~=1.0
gdbgui==0.13.2.0
pygdbmi<=0.9.0.2
python-socketio<5
itsdangerous<2.1
kconfiglib==13.7.1
reedsolo>=1.5.3,<=1.5.4
ecdsa>=0.16.0
construct==2.10.54
pyserial>=3.3
pyelftools>=0.22
jinja2<3.1
bitstring>=3.1.6
